 <!DOCTYPE html>
<html class="theme-light-side" lang="en-IN">
<head>
<script type="f6f38b59046ce610d0177446-text/javascript">window.dataLayer = window.dataLayer || [];</script>
<meta charset="UTF-8">
<title>Where Experiences are Engineered</title>
<meta name="description" content="Where Experiences are Engineered" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name='pageID' content='1031' />

<meta property="og:title" content="Where Experiences are Engineered" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/en-in/" />
<meta property="og:description" content="Where Experiences are Engineered" />
<meta property="og:site_name" content="valtech.com" />
<meta property="og:locale" content="en_IN" />
<meta property="og:image" content="https://www.valtech.com/49e26e/globalassets/00-global/02-images/00-homepage/seo-valtech-1200x628.jpg" />
<meta property="article:language" content="" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="valtech.com">
<meta name="twitter:title" content="Where Experiences are Engineered">
<meta name="twitter:description" content="Where Experiences are Engineered">
<meta property="twitter:image" content="https://www.valtech.com/49e26e/globalassets/00-global/02-images/00-homepage/seo-valtech-1200x628.jpg" />

<script type="f6f38b59046ce610d0177446-text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WNBZ8QD');</script>


<meta name="robots" content="index">

<link rel="canonical" href="https://www.valtech.com/en-in/" />

<link rel="alternate" hreflang="x-default" href="https://www.valtech.com/" />
<link rel="alternate" hreflang="nl-NL" href="https://www.valtech.com/nl-nl/" />
<link rel="alternate" hreflang="en-GB" href="https://www.valtech.com/en-gb/" />
<link rel="alternate" hreflang="pt-BR" href="https://www.valtech.com/pt-br/" />
<link rel="alternate" hreflang="en-CA" href="https://www.valtech.com/en-ca/" />
<link rel="alternate" hreflang="fr-CA" href="https://www.valtech.com/fr-ca/" />
<link rel="alternate" hreflang="zh-CN" href="https://www.valtech.com/zh-cn/" />
<link rel="alternate" hreflang="en-DK" href="https://www.valtech.com/en-dk/" />
<link rel="alternate" hreflang="fr-FR" href="https://www.valtech.com/fr-fr/" />
<link rel="alternate" hreflang="de-DE" href="https://www.valtech.com/de-de/" />
<link rel="alternate" hreflang="en-SG" href="https://www.valtech.com/en-sg/" />
<link rel="alternate" hreflang="sv-SE" href="https://www.valtech.com/sv-se/" />
<link rel="alternate" hreflang="es-AR" href="https://www.valtech.com/es-ar/" />
<link rel="alternate" hreflang="es-MX" href="https://www.valtech.com/es-mx/" />
<link rel="alternate" hreflang="en-CH" href="https://www.valtech.com/en-ch/" />

<link rel="shortcut icon" type="image/x-icon" href="/static/dist/img/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/static/dist/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/dist/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/dist/img/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/static/dist/img/favicon/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/helveticaneue.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/helveticaneue-light.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/helveticaneue-medium.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/helveticaneue-bold.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/merriweather-light.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/merriweather-lightitalic.woff2" />
<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/static/dist/fonts/merriweather-bold.woff2" />
<script type="f6f38b59046ce610d0177446-text/javascript">
    window.vueSettings = {
        distFolder: '/static/dist'
    }
    window.CookieBotPreCheckApi = '/gdprapi/getcookiebotcheckboxesvalues/';
</script>
<meta name="google-site-verification" content="qGSIjPK1IAiCqLMXCQFt2X2q0t58LZczQDBzn9_pB_c" />

<link rel="stylesheet" href="/static/dist/css/homepage.css?version=1.17.654.1">

<script src="/static/dist/js/homepage.js?version=1.17.654.1" type="f6f38b59046ce610d0177446-text/javascript"></script>
<script src="/static/dist/js/framework.js?version=1.17.654.1" type="f6f38b59046ce610d0177446-text/javascript"></script>
</head>
<body class="hide">
<div class="site-logo" aria-label="Site Logo" role="banner">
<div class="site-logo__secondary">
<div class="svg-container">
<svg viewBox="0 0 340 69.6">
<title>Valtech</title>
<g class="site-logo__secondary__logo">
<path d="M32.25,68.24H18.3L0,17.7H14.85L25.35,55h.3L36.44,17.7H50.69Z" />
<path d="M94.94,58.34c0,6,1.35,7.35,3,8v1.95H83.54a22.12,22.12,0,0,1-1.35-6,20.56,20.56,0,0,1-16.35,7.35c-7.65,0-15.45-4.2-15.45-14.7s6.3-15,14.7-16.2l12.15-1.8c2.1-.3,4.65-1.2,4.65-4C81.89,27.3,76.49,27,73,27c-6.6,0-7.8,4.05-8.1,7H52c1.5-15.44,12.3-17.69,22.65-17.69,7.2,0,20.25,2.25,20.25,14.7Zm-13-14.7c-1.35,1-3.6,2-9.15,2.7s-9,2.1-9,7.65a5.85,5.85,0,0,0,5.53,6.15h.62c6,0,12-3.9,12-10Z" />
<path d="M116.38,68.24H103V0h13.35Z" />
<path d="M141.73,17.7h8.4v9.45h-8.4V54.74c0,2.85.15,4,5.55,4h2.85V68.84H142c-11.55,0-13.65-4.35-13.65-11V27.15h-6.9V17.7h6.9V4.05h13.35Z" />
<path d="M202.32,53.39c-3.6,12.3-13.8,16.2-22.5,16.2-14.24,0-25.19-6.75-25.19-27.6,0-6.15,2.1-25.64,24.29-25.64,10.05,0,23.85,4.8,23.85,27.89v2.4H168c.3,3.75,1.2,12.3,11.84,12.3,3.75,0,7.65-1.8,8.7-5.55Zm-13.2-15.45c-.75-8.09-6.15-10.64-10.35-10.64s-9.59,4.05-10.49,10.64Z" />
<path d="M253,49.79c-.45,5.25-4.5,19.8-23.09,19.8S206.37,55,206.37,44.39c0-16.34,7.2-28,24.3-28,8.09,0,21.29,3.6,22.49,19.34h-13.5c-.6-3.14-2.54-8.09-8.24-8.09h-.75c-8.4,0-10.5,8.39-10.5,14.69s.15,16.35,10.2,16.35c6.9,0,9.14-6.45,9.14-8.85Z" />
<path d="M305.06,68.24H291.71V37.64c0-3.74-.3-10-8.7-10-6,0-10.5,4-10.5,11.69V68.24H259.16V0h13.35V24.3h.15c1.65-4.2,7.5-7.95,14.7-7.95,9.9,0,17.7,5.85,17.7,16.95Z" />
<rect x="313.3" y="58.79" width="26.7" height="9.52" />
</g>
<g>
<rect class="site-logo__secondary__reveal" width="340" height="72" />
</g>
</svg>
</div>
</div>
</div>
<a id='skip-link' class='skip-link' href='#valtech-wrapper'>{{Skip Link}}</a>
<nav class="site-nav" aria-label="Main Navigation">
<div class="site-nav__menu-fixed">
<div class="site-nav__menu js-fixed-menu-block">
<div class="site-nav__menu-wrapper site-nav__menu__labels">
<div class="site-nav__logo" aria-label="Site Logo" role="banner">
<a href="/en-in/" class="site-nav__logo__link">
<svg viewBox="0 0 340 69.6">
<title>Valtech</title>
<g class="site-logo__primary__logo">
<path d="M32.25,68.24H18.3L0,17.7H14.85L25.35,55h.3L36.44,17.7H50.69Z" />
<path d="M94.94,58.34c0,6,1.35,7.35,3,8v1.95H83.54a22.12,22.12,0,0,1-1.35-6,20.56,20.56,0,0,1-16.35,7.35c-7.65,0-15.45-4.2-15.45-14.7s6.3-15,14.7-16.2l12.15-1.8c2.1-.3,4.65-1.2,4.65-4C81.89,27.3,76.49,27,73,27c-6.6,0-7.8,4.05-8.1,7H52c1.5-15.44,12.3-17.69,22.65-17.69,7.2,0,20.25,2.25,20.25,14.7Zm-13-14.7c-1.35,1-3.6,2-9.15,2.7s-9,2.1-9,7.65a5.85,5.85,0,0,0,5.53,6.15h.62c6,0,12-3.9,12-10Z" />
<path d="M116.38,68.24H103V0h13.35Z" />
<path d="M141.73,17.7h8.4v9.45h-8.4V54.74c0,2.85.15,4,5.55,4h2.85V68.84H142c-11.55,0-13.65-4.35-13.65-11V27.15h-6.9V17.7h6.9V4.05h13.35Z" />
<path d="M202.32,53.39c-3.6,12.3-13.8,16.2-22.5,16.2-14.24,0-25.19-6.75-25.19-27.6,0-6.15,2.1-25.64,24.29-25.64,10.05,0,23.85,4.8,23.85,27.89v2.4H168c.3,3.75,1.2,12.3,11.84,12.3,3.75,0,7.65-1.8,8.7-5.55Zm-13.2-15.45c-.75-8.09-6.15-10.64-10.35-10.64s-9.59,4.05-10.49,10.64Z" />
 <path d="M253,49.79c-.45,5.25-4.5,19.8-23.09,19.8S206.37,55,206.37,44.39c0-16.34,7.2-28,24.3-28,8.09,0,21.29,3.6,22.49,19.34h-13.5c-.6-3.14-2.54-8.09-8.24-8.09h-.75c-8.4,0-10.5,8.39-10.5,14.69s.15,16.35,10.2,16.35c6.9,0,9.14-6.45,9.14-8.85Z" />
<path d="M305.06,68.24H291.71V37.64c0-3.74-.3-10-8.7-10-6,0-10.5,4-10.5,11.69V68.24H259.16V0h13.35V24.3h.15c1.65-4.2,7.5-7.95,14.7-7.95,9.9,0,17.7,5.85,17.7,16.95Z" />
<rect x="313.3" y="58.79" width="26.7" height="9.52" />
</g>
</svg>
</a>
</div>
<ul class="site-nav__menu__list">
<li class="site-nav__menu__item">
<button class="site-nav__menu__title " aria-labelledby="mainMenuDropdown" aria-controls="mainMenuDropdown" aria-expanded="false" aria-label="Toggle main navigation">our work</button>
</li>
<li class="site-nav__menu__item">
<button class="site-nav__menu__title " aria-labelledby="mainMenuDropdown" aria-controls="mainMenuDropdown" aria-expanded="false" aria-label="Toggle main navigation">careers</button>
</li>
<li class="site-nav__menu__item">
<button class="site-nav__menu__title " aria-labelledby="mainMenuDropdown" aria-controls="mainMenuDropdown" aria-expanded="false" aria-label="Toggle main navigation">our insights</button>
</li>
<li class="site-nav__menu__item">
<button class="site-nav__menu__title " aria-labelledby="mainMenuDropdown" aria-controls="mainMenuDropdown" aria-expanded="false" aria-label="Toggle main navigation">about us</button>
</li>
</ul>
</div>
</div>
</div>
<div class="site-nav__icons">
<button type="button" role="button" aria-label="Open Main Menu" class="icon-menu">
<svg viewBox="0 0 24 24">
<g>
<rect class="icon-menu__line-top" width="100%" height="4" y="2"></rect>
<rect class="icon-menu__line-bottom" width="50%" height="4" y="16"></rect>
<rect class="icon-menu__line-middle" width="100%" height="4" y="9"></rect>
</g>
</svg>
</button>
<button type="button" class="location-select" data-lang="en" aria-controls="idOfDialogContainer" aria-expanded="true/false" aria-label="Select a location">
<div class="icon-global">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-global"></use>
</svg>
</div>
<div class="icon-close">
<svg viewBox="0 0 24 24">
<use xlink:href="/static/dist/img/img.svg#icon-close"></use>
</svg>
</div>
</button>
<a class="search-select" aria-label="Go to Search page" href="/en-in/search/">
<div class="icon-search">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-search"></use>
</svg>
</div>
</a>
</div>
<div class="site-nav__overlay">
<div class="site-nav__overlay__content-general">

<div class="site-nav__menu__container">
<div class="site-nav__menu-wrapper">
<div class="site-nav__menu site-nav__menu__overview" aria-hidden="true" id="mainMenuDropdown" tabindex="-1">
<div class="site-nav__logo" aria-label="Site Logo" role="banner">
<a href="/en-in/" class="site-nav__logo__link">
<svg viewBox="0 0 340 69.6">
<title>Valtech</title>
<g class="site-logo__primary__logo">
<path d="M32.25,68.24H18.3L0,17.7H14.85L25.35,55h.3L36.44,17.7H50.69Z" />
<path d="M94.94,58.34c0,6,1.35,7.35,3,8v1.95H83.54a22.12,22.12,0,0,1-1.35-6,20.56,20.56,0,0,1-16.35,7.35c-7.65,0-15.45-4.2-15.45-14.7s6.3-15,14.7-16.2l12.15-1.8c2.1-.3,4.65-1.2,4.65-4C81.89,27.3,76.49,27,73,27c-6.6,0-7.8,4.05-8.1,7H52c1.5-15.44,12.3-17.69,22.65-17.69,7.2,0,20.25,2.25,20.25,14.7Zm-13-14.7c-1.35,1-3.6,2-9.15,2.7s-9,2.1-9,7.65a5.85,5.85,0,0,0,5.53,6.15h.62c6,0,12-3.9,12-10Z" />
<path d="M116.38,68.24H103V0h13.35Z" />
<path d="M141.73,17.7h8.4v9.45h-8.4V54.74c0,2.85.15,4,5.55,4h2.85V68.84H142c-11.55,0-13.65-4.35-13.65-11V27.15h-6.9V17.7h6.9V4.05h13.35Z" />
<path d="M202.32,53.39c-3.6,12.3-13.8,16.2-22.5,16.2-14.24,0-25.19-6.75-25.19-27.6,0-6.15,2.1-25.64,24.29-25.64,10.05,0,23.85,4.8,23.85,27.89v2.4H168c.3,3.75,1.2,12.3,11.84,12.3,3.75,0,7.65-1.8,8.7-5.55Zm-13.2-15.45c-.75-8.09-6.15-10.64-10.35-10.64s-9.59,4.05-10.49,10.64Z" />
<path d="M253,49.79c-.45,5.25-4.5,19.8-23.09,19.8S206.37,55,206.37,44.39c0-16.34,7.2-28,24.3-28,8.09,0,21.29,3.6,22.49,19.34h-13.5c-.6-3.14-2.54-8.09-8.24-8.09h-.75c-8.4,0-10.5,8.39-10.5,14.69s.15,16.35,10.2,16.35c6.9,0,9.14-6.45,9.14-8.85Z" />
<path d="M305.06,68.24H291.71V37.64c0-3.74-.3-10-8.7-10-6,0-10.5,4-10.5,11.69V68.24H259.16V0h13.35V24.3h.15c1.65-4.2,7.5-7.95,14.7-7.95,9.9,0,17.7,5.85,17.7,16.95Z" />
<rect x="313.3" y="58.79" width="26.7" height="9.52" />
</g>
</svg>
</a>
</div>
<ul class="site-nav__menu__list">
<li class="site-nav__menu__item js-accordion">
<button class="site-nav__menu__title js-accordion-button ">
our work
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<ul class="site-nav__menu__sublist js-accordion-content">
<li class="site-nav__menu__subitem "><a href="/en-in/work/">Our work</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/industries/">Industries</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/services/">Services</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/partners/">Partners</a></li>
</ul>
</li>
<li class="site-nav__menu__item js-accordion">
<button class="site-nav__menu__title js-accordion-button ">
careers
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<ul class="site-nav__menu__sublist js-accordion-content">
<li class="site-nav__menu__subitem "><a href="/en-in/career/joblist/">Jobs</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/valtech-as-workplace/">Valtech as Workplace</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/diversity-inclusion/">Diversity &amp; Inclusion</a></li>
</ul>
</li>
<li class="site-nav__menu__item js-accordion">
<button class="site-nav__menu__title js-accordion-button ">
our insights
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<ul class="site-nav__menu__sublist js-accordion-content">
<li class="site-nav__menu__subitem "><a href="/en-in/podcasts/">Podcasts</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/whitepapers/">Whitepapers</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/content-hub/">Content Hub</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/blog/">Blog</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/events/">Events</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/innovation/">Innovation</a></li>
</ul>
</li>
<li class="site-nav__menu__item js-accordion">
<button class="site-nav__menu__title js-accordion-button ">
about us
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<ul class="site-nav__menu__sublist js-accordion-content">
<li class="site-nav__menu__subitem "><a href="/en-in/news/">News</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/about/">About</a></li>
<li class="site-nav__menu__subitem "><a href="/en-in/about/offices/">Valtech offices</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
<a href="/en-in/about/contact-us/keep-in-touch/" class="site-nav__contact-us-button">Contact us</a>

</div>
<div class="site-nav__overlay__content-location">
<div class="site-nav__locations" id="idOfDialogContainer">
<div class="site-nav__locations__container">
<div class="site-nav__locations__title">
<span class="site-nav__locations__title-text">Select location or visit</span>
<a class="global-link site-nav__locations__global-link" data-lang="en" href="/">
<span>Valtech Global</span>
</a>
</div>
<div name="locations" class="site-nav__locations__areas">

<div class="site-nav__locations__region js-accordion">
 <button class="site-nav__locations__region__title js-accordion-button">
Europe
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="site-nav__locations__region__places js-accordion-content">
<ul>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-bg"></use>
</svg>
<span>Bulgaria</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/en-dk/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-dk"></use>
</svg>
<span>Denmark</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/fr-fr/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-fr"></use>
</svg>
<span>France</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/de-de/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-de"></use>
</svg>
<span>Germany</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/nl-nl/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-nl"></use>
</svg>
<span>Netherlands</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-mk"></use>
</svg>
<span>North Macedonia</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-pl"></use>
</svg>
<span>Poland</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-pt"></use>
</svg>
<span>Portugal</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ro"></use>
</svg>
<span>Romania</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/sv-se/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-se"></use>
</svg>
<span>Sweden</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/en-ch/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ch"></use>
</svg>
<span>Switzerland</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ua"></use>
</svg>
<span>Ukraine</span>
 </a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/en-gb/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-gb"></use>
</svg>
<span>United Kingdom</span>
</a>
</li>
</ul>
</div>
</div>
<div class="site-nav__locations__region js-accordion">
<button class="site-nav__locations__region__title js-accordion-button">
North America
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="site-nav__locations__region__places js-accordion-content">
<ul>
<li class="site-nav__locations__region__places__item">
<a href="/en-ca/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ca"></use>
</svg>
<span>Canada</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-us"></use>
</svg>
<span>USA</span>
</a>
</li>
</ul>
</div>
</div>
<div class="site-nav__locations__region js-accordion">
<button class="site-nav__locations__region__title js-accordion-button">
Latin America
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="site-nav__locations__region__places js-accordion-content">
<ul>
<li class="site-nav__locations__region__places__item">
<a href="/es-ar/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ar"></use>
</svg>
<span>Argentina</span>
</a>
 </li>
<li class="site-nav__locations__region__places__item">
<a href="/pt-br/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-br"></use>
</svg>
<span>Brazil</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/es-mx/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-mx"></use>
</svg>
<span>Mexico</span>
</a>
</li>
</ul>
</div>
</div>
<div class="site-nav__locations__region js-accordion">
<button class="site-nav__locations__region__title js-accordion-button">
Asia Pacific
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="site-nav__locations__region__places js-accordion-content">
<ul>
<li class="site-nav__locations__region__places__item">
<a href="/en-cn/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-cn"></use>
</svg>
<span>China</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/en-in/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-in"></use>
</svg>
<span>India</span>
</a>
</li>
<li class="site-nav__locations__region__places__item">
<a href="/en-sg/" class="">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-sg"></use>
</svg>
<span>Singapore</span>
</a>
</li>
</ul>
</div>
</div>
<div class="site-nav__locations__region js-accordion">
<button class="site-nav__locations__region__title js-accordion-button">
MENA
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="site-nav__locations__region__places js-accordion-content">
<ul>
<li class="site-nav__locations__region__places__item">
<a href="/" class="global-link">
<svg viewBox="0 0 21 15">
<use xlink:href="/static/dist/img/img.svg#icon-ae"></use>
</svg>
<span>United Arab Emirates</span>
</a>
</li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<progress value="0" id="progressBar" class="hide"></progress>
</nav>
<div id="valtech-wrapper">
<div class="valtech-container" data-namespace="light-side">
<main class="site-content" data-epi-type="content">
<div class="site-section-title">
<div class="site-section-title__primary">
<div class="svg-container">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
<div class="site-section-title__text">
<div class="site-section-title__text-inner" data-label=""></div>
</div>
</div>
</div>
<div class="main-video">
<div class="main-video__container">
<div class="main-video__text">
<hgroup class="main-video__hgroup">
<h1 class="main-video__hgroup__title--hidden">Valtech </h1>
<h2 class="main-video__hgroup__title">business transformation powered by digital innovation</h2>
</hgroup>
</div>
<div class="main-video__media">
<section class="video-block masthead-video-autoplay__video-block" data-icon-url="/static/dist/img/img.svg">
<div class="video-block__container">
<video poster="" class="js-player js-animate-on-custom-event loop" data-mobile-video="/495887/globalassets/00-global/04-videos/experience_valtech_s-1080p.mp4" preload="none" playsinline="" controls="" muted="muted">
<source src="/495887/globalassets/00-global/04-videos/experience_valtech_s-1080p.mp4" type="video/mp4">
</source></video>
<button class="sound-control">
<svg class="sound-control__mute">
<use xlink:href="/static/dist/img/img.svg#icon-mute"></use>
</svg>
<svg class="sound-control__sound hide">
<use xlink:href="/static/dist/img/img.svg#icon-speaker"></use>
</svg>
</button>
</div>
</section>
</div>
<button class="main-video__play-button js-main-video-play" aria-label="Play/pause video">
<svg class="main-video__icon main-video__icon-play">
<use xlink:href="/static/dist/img/img.svg#icon-play-outline"></use>
</svg>
<svg class="main-video__icon main-video__icon-pause">
<use xlink:href="/static/dist/img/img.svg#icon-pause"></use>
</svg>
</button>
</div>
</div><div class="teaser-block">
<div class="teaser-block__header slide-fade-in">
<h4 class="teaser-block__header__title">
highlights
</h4>
</div>
<div class="teaser-block__container  js-flickity-teaser">
<div class="teaser-block__teaser">
<a href="/en-in/podcasts/" class="teaser-block__teaser__inner">
<h2 class="teaser-block__teaser__pretitle podcast">
<svg slot="podcast">
<use xlink:href="/static/dist/img/img.svg#icon-podcast"></use>
</svg>
Podcasts
</h2>
<hgroup class="teaser-block__teaser__hgroup">
<h5 class="teaser-block__teaser__title">Digital Transformation</h5>
</hgroup>
</a>
<picture>
<source media="(min-width: 940px)" srcset="/492c7e/globalassets/00-global/02-images/podcasts/podcast-insights-page-visual.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                /492c7e/globalassets/00-global/02-images/podcasts/podcast-insights-page-visual.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/492c7e/globalassets/00-global/02-images/podcasts/podcast-insights-page-visual.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/492c7e/globalassets/00-global/02-images/podcasts/podcast-insights-page-visual.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
<div class="teaser-block__teaser">
<a href="/en-in/whitepapers/design-thinking-in-6-phases/" class="teaser-block__teaser__inner">
<h2 class="teaser-block__teaser__pretitle whitepaper">
<svg slot="whitepaper">
<use xlink:href="/static/dist/img/img.svg#icon-whitepaper"></use>
</svg>
Whitepaper
</h2>
<hgroup class="teaser-block__teaser__hgroup">
<h5 class="teaser-block__teaser__title">Design Thinking in 6 Phases</h5>
</hgroup>
</a>
<picture>
<source media="(min-width: 940px)" srcset="/4a6a61/globalassets/00-global/02-images/04-insights/02-whitepapers/design-thinking-in-6-phases/2021-design-thinking-whitepaper-finance-primary-image-1152x650-mobile.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                /4a6a61/globalassets/00-global/02-images/04-insights/02-whitepapers/design-thinking-in-6-phases/2021-design-thinking-whitepaper-finance-primary-image-1152x650-mobile.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/4a6a61/globalassets/00-global/02-images/04-insights/02-whitepapers/design-thinking-in-6-phases/2021-design-thinking-whitepaper-finance-primary-image-1152x650-mobile.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/4a6a61/globalassets/00-global/02-images/04-insights/02-whitepapers/design-thinking-in-6-phases/2021-design-thinking-whitepaper-finance-primary-image-1152x650-mobile.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
<div class="teaser-block__teaser">
<a href="/en-in/valtech-as-workplace/" class="teaser-block__teaser__inner">
<h2 class="teaser-block__teaser__pretitle insight">
<svg slot="insight">
<use xlink:href="/static/dist/img/img.svg#icon-insight"></use>
</svg>
People &amp; Culture
</h2>
<hgroup class="teaser-block__teaser__hgroup">
<h5 class="teaser-block__teaser__title">Valtech as Workplace</h5>
</hgroup>
</a>
<picture>
<source media="(min-width: 940px)" srcset="/4aab71/globalassets/00-global/02-images/02-career/soiree-salaries-6.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                /4aab71/globalassets/00-global/02-images/02-career/soiree-salaries-6.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/4aab71/globalassets/00-global/02-images/02-career/soiree-salaries-6.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/4aab71/globalassets/00-global/02-images/02-career/soiree-salaries-6.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
<div class="teaser-block__teaser">
<a href="/en-in/career/our-values/" class="teaser-block__teaser__inner">
<h2 class="teaser-block__teaser__pretitle insight">
<svg slot="insight">
<use xlink:href="/static/dist/img/img.svg#icon-insight"></use>
</svg>
People &amp; Culture
</h2>
<hgroup class="teaser-block__teaser__hgroup">
<h5 class="teaser-block__teaser__title">What we believe in</h5>
</hgroup>
</a>
<picture>
<source media="(min-width: 940px)" srcset="/4aaee2/globalassets/00-global/02-images/02-career/welcome-to-the-jungle-04.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                /4aaee2/globalassets/00-global/02-images/02-career/welcome-to-the-jungle-04.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/4aaee2/globalassets/00-global/02-images/02-career/welcome-to-the-jungle-04.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/4aaee2/globalassets/00-global/02-images/02-career/welcome-to-the-jungle-04.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
</div>
</div>
<div class="new_services-block dark-background">
<div class="new_services-block__container">
<h2 class="new_services-block__title">
Leading in Commerce </h2>
<div class="new_services-block_row">
<a href="/en-in/blog/composable-commerce-winners-from-losers/" class="new_services-block__service-link-wrapper">
<div class="new_services-block__service">
<div class="new_services-block__service-content">
<div class="new_services-block__service-white_block"></div>
<h2 class="new_services-block__service-title">The Expert View</h2>
<div class="new_services-block__service-link-container">
<p class="new_services-block__service-link">
<span class="new_services-block__service-link-text">Separating the winners from the losers</span>
</p>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</div>
<div class="new_services-block__service-image">
<picture>
<source media="(orientation: portrait)" srcset="/48fdf4/globalassets/00-global/02-images/04-insights/composable-commerce-winners-from-losers/composable-commerce-second-image-casper.png?width=520&amp;height=90&amp;mode=crop&amp;format=jpg">
<source media="(orientation: landscape)" srcset="/48fdf4/globalassets/00-global/02-images/04-insights/composable-commerce-winners-from-losers/composable-commerce-second-image-casper.png?width=590&amp;height=420&amp;mode=crop&amp;format=jpg">
<img src="/48fdf4/globalassets/00-global/02-images/04-insights/composable-commerce-winners-from-losers/composable-commerce-second-image-casper.png?width=520&amp;height=90&amp;mode=crop&amp;format=jpg" srcset="/48fdf4/globalassets/00-global/02-images/04-insights/composable-commerce-winners-from-losers/composable-commerce-second-image-casper.png?width=590&amp;height=420&amp;mode=crop&amp;format=jpg 940w" alt="" class="new_services-block__service_pictures" data-object-fit="cover">
</source></source></picture>
</div>
</div>
</a>
<a href="/en-in/whitepapers/digital-commerce-launchpad/" class="new_services-block__service-link-wrapper">
<div class="new_services-block__service">
<div class="new_services-block__service-content">
<div class="new_services-block__service-white_block"></div>
<h2 class="new_services-block__service-title">The Digital Commerce Launchpad</h2>
<div class="new_services-block__service-link-container">
<p class="new_services-block__service-link">
<span class="new_services-block__service-link-text">Download the guide </span>
</p>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</div>
<div class="new_services-block__service-image">
<picture>
<source media="(orientation: portrait)" srcset="/491d4c/globalassets/00-global/02-images/04-insights/02-whitepapers/dtc-launchpad-nov2021/2022-digital-commerce-vtex-whitepaper-landing-page-site-image-1000x1000-1.jpg?width=520&amp;height=90&amp;mode=crop&amp;format=jpg">
<source media="(orientation: landscape)" srcset="/491d4c/globalassets/00-global/02-images/04-insights/02-whitepapers/dtc-launchpad-nov2021/2022-digital-commerce-vtex-whitepaper-landing-page-nav-image-1520x840.jpg?width=590&amp;height=420&amp;mode=crop&amp;format=jpg">
<img src="/491d4c/globalassets/00-global/02-images/04-insights/02-whitepapers/dtc-launchpad-nov2021/2022-digital-commerce-vtex-whitepaper-landing-page-site-image-1000x1000-1.jpg?width=520&amp;height=90&amp;mode=crop&amp;format=jpg" srcset="/491d4c/globalassets/00-global/02-images/04-insights/02-whitepapers/dtc-launchpad-nov2021/2022-digital-commerce-vtex-whitepaper-landing-page-nav-image-1520x840.jpg?width=590&amp;height=420&amp;mode=crop&amp;format=jpg 940w" alt="" class="new_services-block__service_pictures" data-object-fit="cover">
</source></source></picture>
</div>
</div>
</a>
</div><div class="new_services-block_row">
<a href="/en-in/podcasts/understanding-the-friction/" class="new_services-block__service-link-wrapper">
<div class="new_services-block__service">
<div class="new_services-block__service-content">
<div class="new_services-block__service-white_block"></div>
<h2 class="new_services-block__service-title">Understanding the Friction</h2>
<div class="new_services-block__service-link-container">
<p class="new_services-block__service-link">
<span class="new_services-block__service-link-text">Why a seamless experience matters</span>
</p>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</div>
<div class="new_services-block__service-image">
<picture>
<source media="(orientation: portrait)" srcset="/498777/globalassets/00-global/02-images/podcasts/cxp-vfs-series/2021-cxp-podcast-social-media-carousel-2.jpg?width=520&amp;height=90&amp;mode=crop&amp;format=jpg">
<source media="(orientation: landscape)" srcset="/498777/globalassets/00-global/02-images/podcasts/cxp-vfs-series/2021-cxp-podcast-social-media-2-a.jpg?width=590&amp;height=420&amp;mode=crop&amp;format=jpg">
<img src="/498777/globalassets/00-global/02-images/podcasts/cxp-vfs-series/2021-cxp-podcast-social-media-carousel-2.jpg?width=520&amp;height=90&amp;mode=crop&amp;format=jpg" srcset="/498777/globalassets/00-global/02-images/podcasts/cxp-vfs-series/2021-cxp-podcast-social-media-2-a.jpg?width=590&amp;height=420&amp;mode=crop&amp;format=jpg 940w" alt="" class="new_services-block__service_pictures" data-object-fit="cover">
</source></source></picture>
</div>
</div>
</a>
<a href="/en-in/work/loreal-kerastase/" class="new_services-block__service-link-wrapper">
<div class="new_services-block__service">
<div class="new_services-block__service-content">
<div class="new_services-block__service-white_block"></div>
<h2 class="new_services-block__service-title">L&#39;Or&#233;al K&#233;rastase</h2>
<div class="new_services-block__service-link-container">
<p class="new_services-block__service-link">
<span class="new_services-block__service-link-text">The power of a D2C approach</span>
</p>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</div>
<div class="new_services-block__service-image">
<picture>
<source media="(orientation: portrait)" srcset="/49ebd8/globalassets/00-global/02-images/07-work/kerastase/copy-of-captura-de-tela-2021-04-06-as-15.36.12.png?width=520&amp;height=90&amp;mode=crop&amp;format=jpg">
<source media="(orientation: landscape)" srcset="/49ebd8/globalassets/00-global/02-images/07-work/kerastase/copy-of-captura-de-tela-2021-04-06-as-15.36.12.png?width=590&amp;height=420&amp;mode=crop&amp;format=jpg">
<img src="/49ebd8/globalassets/00-global/02-images/07-work/kerastase/copy-of-captura-de-tela-2021-04-06-as-15.36.12.png?width=520&amp;height=90&amp;mode=crop&amp;format=jpg" srcset="/49ebd8/globalassets/00-global/02-images/07-work/kerastase/copy-of-captura-de-tela-2021-04-06-as-15.36.12.png?width=590&amp;height=420&amp;mode=crop&amp;format=jpg 940w" alt="" class="new_services-block__service_pictures" data-object-fit="cover">
</source></source></picture>
</div>
</div>
</a>
</div>
</div>
</div><vue>
<latest-updates url="/latestupdates/getjsonresult?id=195327&amp;language=en-IN&amp;limit=16" latest-updates-title="Discover more">

<template slot="form" slot-scope="props">
<div class="latest-updates__filter-bar" v-if="true">
<div class="latest-updates-form">
<div class="latest-updates-form__text">I’m interested in</div>
<div class="filter-options filter-options--desktop filter-options--after-dot">
<select-options :options="props.data.listOptions('service', 'All services')" :available-options="props.data.listAvailableOptions('service', 'All services')" v-model="props.data.formData['service']" v-on:change="props.data.updateQueryTags">
<svg class="svg-carret-down" slot="icon-carret-down">
<use xlink:href="/static/dist/img/img.svg#icon-carret-down"></use>
</svg>
</select-options>
</div>
<div class="latest-updates-form__text">Specifically </div>
<div class="filter-options filter-options--desktop filter-options--after-dot">
<select-options :options="props.data.listOptions('industry', 'All industries')" :available-options="props.data.listAvailableOptions('industry', 'All industries')" v-model="props.data.formData['industry']" v-on:change="props.data.updateQueryTags">
<svg class="svg-carret-down" slot="icon-carret-down">
<use xlink:href="/static/dist/img/img.svg#icon-carret-down"></use>
</svg>
</select-options>
</div>
</div>
</div>
</template>
<template slot="init" slot-scope="props">
<div>
Loading...
</div>
</template>


<template slot-scope="props">
<div class="latest-updates-result">
<div class="updates-result-list">
<latest-updates-grid :items="props.items" :button-label="'Show More'"></latest-updates-grid>
</div>
</div>
</template>

</latest-updates>
</vue><div class="work-at-valtech-block">
<div class="work-at-valtech-block__container">
<div class="work-at-valtech-block__intro">
<h2 class="work-at-valtech-block__intro__heading">Work at Valtech</h2>
</div>
<div class="work-at-valtech-block__content">
<div class="work-at-valtech-block__content-row  js-flickity-work-at-valtech">
<a class="work-at-valtech-block__content-image-block" href="/en-in/career/">
 <div class="work-at-valtech-block__content-image-block-wrapper">
<picture>
<source media="(min-width: 940px)" srcset="/49fea2/globalassets/00-global/02-images/02-career/talk_to_us_1_mobile.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                    /49fea2/globalassets/00-global/02-images/02-career/talk_to_us_1_mobile.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/49fea2/globalassets/00-global/02-images/02-career/talk_to_us_1_mobile.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/49fea2/globalassets/00-global/02-images/02-career/talk_to_us_1_mobile.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
<div class="work-at-valtech-block__content-image-block_about-us">
<span>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-insight"></use>
</svg>
</span>
<p>People &amp; Culture </p>
</div>
<div class="work-at-valtech-block__content-image-block_content">
<h5 class="work-at-valtech-block__content-image-block_content-title">Who we are </h5>
</div>
</a>
<a class="work-at-valtech-block__content-image-block" href="/en-in/diversity-inclusion/">
<div class="work-at-valtech-block__content-image-block-wrapper">
<picture>
<source media="(min-width: 940px)" srcset="/48ee71/globalassets/00-global/01-blocks/01-about/images/about-us-our-values-767x323-a.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg,
                                                    /48ee71/globalassets/00-global/01-blocks/01-about/images/about-us-our-values-767x323-a.jpg?width=720&amp;height=540&amp;mode=crop&amp;format=jpg 1.5x">
<img src="/48ee71/globalassets/00-global/01-blocks/01-about/images/about-us-our-values-767x323-a.jpg?width=320&amp;height=240&amp;mode=crop&amp;format=jpg" srcset="/48ee71/globalassets/00-global/01-blocks/01-about/images/about-us-our-values-767x323-a.jpg?width=480&amp;height=360&amp;mode=crop&amp;format=jpg 1.5x" alt="">
</source></picture>
</div>
<div class="work-at-valtech-block__content-image-block_about-us">
<span>
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-insight"></use>
</svg>
</span>
<p>People &amp; Culture</p>
</div>
<div class="work-at-valtech-block__content-image-block_content">
<h5 class="work-at-valtech-block__content-image-block_content-title">Diversity &amp; Inclusion</h5>
</div>
</a>
</div>
<div class="work-at-valtech-block__content-vacancy-block">
<ul>
<li>
<a href="/en-in/career/joblist/senior-site-reliability-consultant-2094967/">
<div class="work-at-valtech-block__content-vacancy-words">
<span class="work-at-valtech-block__content-vacancy-title">Senior Site Reliability Consultant</span>
<span class="work-at-valtech-block__content-vacancy-subtitle">Ukraine, Poland</span>
</div>
<div class="work-at-valtech-block__content-vacancy-arrow">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</a>
</li>
<li>
<a href="/en-in/career/joblist/lead-site-reliability-consultant-2095231/">
<div class="work-at-valtech-block__content-vacancy-words">
<span class="work-at-valtech-block__content-vacancy-title">Lead Site Reliability Consultant</span>
<span class="work-at-valtech-block__content-vacancy-subtitle">Ukraine, Poland</span>
</div>
<div class="work-at-valtech-block__content-vacancy-arrow">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</a>
</li>
<li>
<a href="/en-in/career/joblist/nodejs-developer-middleseniorlead-2094464/">
<div class="work-at-valtech-block__content-vacancy-words">
<span class="work-at-valtech-block__content-vacancy-title">Node.js Developer (Middle/Senior/Lead)</span>
<span class="work-at-valtech-block__content-vacancy-subtitle">Skopje, Bitola</span>
</div>
<div class="work-at-valtech-block__content-vacancy-arrow">
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-right"></use>
</svg>
</div>
</a>
</li>
<a href="/en-in/career/joblist/" class="button button--tertiary work-at-valtech-block__content-button">
All Jobs
</a>

</ul>
</div>
</div>
</div>
</div>

<div class="side-button">
<a id="side-button" href="#contact-us-form" class="button">Contact Us</a>
</div>

</main>
</div>
</div>
<div id="contact-us-form" class="contact-us-form">
<div class="contact-us-form__container js-accordion">
<div class="contact-us-form__column">
<h2 class="contact-us-form__title">
Contact Us
</h2>
<button type="button" class="contact-us-form__accordion-button js-accordion-button">
Contact Us
<svg>
<use xlink:href="/static/dist/img/img.svg#icon-arrow-down"></use>
</svg>
</button>
<div class="contact-us-form__motto">Let&#39;s reinvent the future</div>
</div>
<div class="contact-us-form__column contact-us-form__accordion-column js-accordion-content">
<div class="marketo-form-block" data-api-path="//go.valtech.com" data-app-id="353-SAE-487" data-form-id="3404">
<div class="marketo-form-block__container narrow">
<div class="dummyForm dummy">
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="input">
<div class="dummy__text"></div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="dummyCheckboxList">
<div class="control-checkbox">
<div class="dummy__text"></div>
<div class="indicator"></div>
</div>
</div>
</div>
</div>
<div class="dummyFormRow slide-fade-in">
<div class="dummyFormCol">
<div class="dummyCheckboxList">
<div class="control-checkbox">
<div class="dummy__text"></div>
<div class="indicator"></div>
</div>
</div>
</div>
</div>
<div class="dummyButtonRow slide-fade-in">
<div class="dummy__button"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="site-footer">
<div class="site-footer__container">
<div class="site-footer__links">
<div class="site-footer__column site-footer__brand">
<div class="site-footer__brand-wrapper">
<div class="site-footer__brand-logo">
<svg viewBox="0 0 340 69.6">
<title>Valtech Logo</title>
<g class="site-logo__primary__logo">
<path d="M32.25,68.24H18.3L0,17.7H14.85L25.35,55h.3L36.44,17.7H50.69Z" />
<path d="M94.94,58.34c0,6,1.35,7.35,3,8v1.95H83.54a22.12,22.12,0,0,1-1.35-6,20.56,20.56,0,0,1-16.35,7.35c-7.65,0-15.45-4.2-15.45-14.7s6.3-15,14.7-16.2l12.15-1.8c2.1-.3,4.65-1.2,4.65-4C81.89,27.3,76.49,27,73,27c-6.6,0-7.8,4.05-8.1,7H52c1.5-15.44,12.3-17.69,22.65-17.69,7.2,0,20.25,2.25,20.25,14.7Zm-13-14.7c-1.35,1-3.6,2-9.15,2.7s-9,2.1-9,7.65a5.85,5.85,0,0,0,5.53,6.15h.62c6,0,12-3.9,12-10Z" />
<path d="M116.38,68.24H103V0h13.35Z" />
<path d="M141.73,17.7h8.4v9.45h-8.4V54.74c0,2.85.15,4,5.55,4h2.85V68.84H142c-11.55,0-13.65-4.35-13.65-11V27.15h-6.9V17.7h6.9V4.05h13.35Z" />
<path d="M202.32,53.39c-3.6,12.3-13.8,16.2-22.5,16.2-14.24,0-25.19-6.75-25.19-27.6,0-6.15,2.1-25.64,24.29-25.64,10.05,0,23.85,4.8,23.85,27.89v2.4H168c.3,3.75,1.2,12.3,11.84,12.3,3.75,0,7.65-1.8,8.7-5.55Zm-13.2-15.45c-.75-8.09-6.15-10.64-10.35-10.64s-9.59,4.05-10.49,10.64Z" />
<path d="M253,49.79c-.45,5.25-4.5,19.8-23.09,19.8S206.37,55,206.37,44.39c0-16.34,7.2-28,24.3-28,8.09,0,21.29,3.6,22.49,19.34h-13.5c-.6-3.14-2.54-8.09-8.24-8.09h-.75c-8.4,0-10.5,8.39-10.5,14.69s.15,16.35,10.2,16.35c6.9,0,9.14-6.45,9.14-8.85Z" />
<path d="M305.06,68.24H291.71V37.64c0-3.74-.3-10-8.7-10-6,0-10.5,4-10.5,11.69V68.24H259.16V0h13.35V24.3h.15c1.65-4.2,7.5-7.95,14.7-7.95,9.9,0,17.7,5.85,17.7,16.95Z" />
<rect x="313.3" y="58.79" width="26.7" height="9.52" />
</g>
</svg>
</div>
</div>
</div>
<div class="site-footer__column site-footer__nav">
<nav class="site-footer__nav-wrapper">
<ul>
<li class="site-footer__nav-link">
<a href="/en-in/">home</a>
</li>
<li class="site-footer__nav-link">
<a href="/en-in/about/">about</a>
</li>
<li class="site-footer__nav-link">
<a href="/en-in/about/offices/">offices</a>
</li>
<li class="site-footer__nav-link">
<a href="/en-in/career/">who we are</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="site-footer__menu">
<ul class="site-footer__menu__list">
<li>
<a href="/en-in/privacy-statement/">privacy statement</a>
</li>
<li>
<a href="/en-in/cookie-statement/">cookie statement</a>
</li>
<li>
<a href="/en-in/labor-condition-application/">labor condition application</a>
</li>
<li><a class="cookiebot-reset" href="#">change cookie settings</a></li>
</ul>
<ul class="site-footer__social">
<li>
<a href="https://www.linkedin.com/company/valtech" title="LinkedIn" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-linkedin"></use>
</svg>
</a>
</li>
<li>
<a href="https://www.youtube.com/c/ValtechOfficial" title="YouTube" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-youtube"></use>
</svg>
</a>
</li>
<li>
<a href="https://www.instagram.com/valtech_india/" title="Instagram" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-instagram"></use>
</svg>
</a>
</li>
<li>
<a href="https://www.facebook.com/valtech.india/" title="Facebook" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-facebook"></use>
</svg>
</a>
</li>
<li>
<a href="https://podcasts.google.com/feed/aHR0cDovL2ZlZWRzLnNvdW5kY2xvdWQuY29tL3VzZXJzL3NvdW5kY2xvdWQ6dXNlcnM6Mzk5MDU2OTEzL3NvdW5kcy5yc3M" title="Google Podcasts" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-google podcasts"></use>
</svg>
</a>
</li>
<li>
<a href="https://open.spotify.com/show/7oRV0j7kQvkSOCgiy1t7P5" title="Spotify" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-spotify"></use>
</svg>
</a>
</li>
<li>
<a href="https://soundcloud.com/valtechcafe" title="Sound Cloud" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-sound cloud"></use>
</svg>
</a>
</li>
<li>
<a href="https://podcasts.apple.com/us/podcast/valtech-caf%C3%A9/id1497951359" title="Apple Podcasts" target="_blank">
<svg>
<use href="/static/dist/img/img.svg#icon-apple podcasts"></use>
 </svg>
</a>
</li>
</ul>
</div>
</div>
</footer>
<svg class="site-slope site-slope--bottom" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice">
<polygon fill="#00BDFA" points="1920,0 0,0 0,0 1920,0" />
</svg>
<svg class="site-slope site-slope--top" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice">
<polygon fill="currentColor" points="1920,0 0,0 0,0 1920,0" />
</svg>
<svg class="site-slope site-slope--left" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice">
<polygon fill="currentColor" points="0,1080 0,1080 0,0 0,0" />
</svg>
<script type="f6f38b59046ce610d0177446-text/javascript">
        dataLayer.push({
            'pageCategory': 'HomePage'
        });
</script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="f6f38b59046ce610d0177446-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"751bbbcc9b8231f3","token":"3fdffa0ca2e04cee83813f2845ab261b","version":"2022.8.1","si":100}' crossorigin="anonymous"></script>
</body>
</html>
